/*@import url(http://fonts.useso.com/css?family=Gudea:400,700);*/
body {
 /* -webkit-perspective: 100%;
          perspective: 100%;*/
  height: 100%;
  /*margin: 0;
  overflow: hidden;*/
  width: 100%;
  /*font-family: 'Gudea', sans-serif;*/
  background: #32323a;
  font: normal 100% Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
}


body .login {
  opacity: 1;
  top: 20px;
/*  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);*/
  /*position: relative;*/
  width: 100%;
  height: 100%;
  position: relative !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  background: #32323a;
  border:1px green solid;
  /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );*/
  /* IE6-9 fallback on horizontal gradient */
}

body .login_title {
  width: 60%;
  height: 30%;
  margin:20% 20% 0 20%;
}

.login_title img {
  width: 100%;
}

body .login_fields {
  width: 80%;
  position: absolute;
  margin-left:10%;
  margin-right: 10%;
  height: 70%;
}

body .login_fields .userIcon {
  position: absolute;
  z-index: 1;
  left: 4%;
  top: 2.5%;
  opacity: .5;
}

body .login_fields .passwordIcon {
  position: absolute;
  z-index: 1;
  left: 4%;
  top: 16%;
  opacity: .5;
}

body .login_fields input[type='password'] {
  color: #a9a9a9 !important;
}

body .login_fields input[type='text'], body .login_fields input[type='password'] {
  color: #afb1be;
  background: #32364a;
  left: 0;
  padding: 2% 10%;
  border-top: 2px solid #393d52;
  border-bottom: 2px solid #393d52;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  box-shadow: none;
}

.userNameInput {
  background-color: #fff !important;
  width: 100%;
  height: 10%!important;
  margin-bottom: 5%;
  border-radius: 3px;
}

.passwordInput {
  background-color: #fff !important;
  width: 100%;
  height: 10%!important;
  margin-bottom: 5%;
  border-radius: 3px;
}

.checkbox {
  color:#fff;
}

body .login_fields__submit {
  position: relative;
  top: 10%;
  width: 100%;
  margin: auto;
}

body .login_fields__submit button {
  width: 100%;
  height: 10%;
  background-color: #006ac0;
  border:1px #006ac0 solid; 
  color: #fff;
}

body .login_fields__submit .forgot {
  float: left;
  font-size: 12px;
  margin-top: 5%;
  text-decoration: none;
}

body .login_fields__submit .forgot a {
  color: #006ac0;
}

body .login_fields__submit input {
  background-color: #006ac0;
  border:1px #006ac0 solid;
  width:100%;
  padding: auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}





body .menu_user_name {
  color: #fff;
  height: 60px;
  text-align: left;
  font-size: 16px;
  width: 200px;
  margin-top: -50px;
  margin-left: 10px;
}

body .menu_setting {
  color: #95a0aa;
  width: 100%;
  height: 5%;
  margin-top: 3%;
}

body .settingIconPart {
  float: left;
  margin-left: 70%;
  width: 5%;

}

body .mainPageSettingIconPart {
  float: left;
  margin-left: 50%;
  width: 5%;
}

body .settingIconPart img{
  width: 100%;
}

body .mainPageSettingIconPart img{
  width: 100%;
}

body .logOutIconPart {
  float: left;
  width: 5%;
  margin-left: 5%;
}

body .logOutIconPart img{
  width: 100%;
}

body .mainPageSettingContentPart {
  float: left;
}


body .menu_user_name {
  /*  margin-left: 55px;*/
  color:#fff;
  margin:50px auto;
}

.menuUserName {
  text-align: center;
  font-size: 30px;
  margin:0;
}
.menuUserPosition {
  text-align: center;
  font-size: 10px;
}

.menuFiledContent {
 padding:0 0 10% 10%;
}

body .menu_fields {
  margin: 0 auto;
  color:#95a0aa;
  font-size: 15px;
  font-weight: 1px !important;
  font-family: Tahoma, Geneva, sans-serif !important;
}

body .menu_fields table {
  margin: 0 18%;
  width: 66%;
  height: 20%;
  color:#95a0aa;
border-collapse: collapse;
}

.tableOne {
  border-bottom: 1px solid #95a0aa;
  border-right: 1px solid #95a0aa;
}

.tableOne img {
  margin: 20% 25% 5% 25%; 
  width:50%;
}

.tableTwo {
  border-bottom: 1px solid #95a0aa;
}

.tableTwo img {
  margin: 20% 25% 5% 25%; 
  width:50%;
}

.tableThree {
  border-right: 1px solid #95a0aa;
}

.tableThree img {
  margin: 20% 25% 5% 25%; 
  width:50%;
}

.tableFour img {
  margin: 20% 25% 5% 25%; 
  width:50%;
}

body .logo_bottom {
  margin:15% 30% 15% 30%; 
  width: 40%;
}

body .logo_bottom img{
  width: 100%;
}


body .caseDetail {
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
  width: 320px;
  border-top: 2px solid #32323a;
  height: 530px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 0;
  background: #fff;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

body .goBack {
  height:7%;
  width: 100%;
  background-color: #32323a;
}

body .goBack img {
  height: 65%;
    margin-left: 10%;
    margin-top: 2%;
}

/*table css*/
table.altrowstable {
  font-family: verdana,arial,sans-serif;
  font-size:9px;
  color:#a9a9a9;
  border-width: 1px;
  border-color: #a9c6c9;
  border-collapse: collapse;
}

table.altrowstable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #fffeff;
}

.oddrowcolor {
  background-color:#fff;
}

.evenrowcolor {
  background-color:#f8f8f8;
}

.buttonPart {
  margin-left:3%;
}

.buttonStyle {
  height: 20px;
  width: 23%;
  border-radius: 2px;
  font-size: 5px;
}

.buttonBlack {
  background-color: #32323a;
  color:#fff;
  border:1px #fff solid;
}

.buttonWhite {
  background-color: #fff;
  color:#32323a;
  border:1px #32323a solid;
}

.infoPart {
  margin-top: 5px;
}

.infoStyle {
  width: 96%;
  height: 50px;
  margin-left: 2%;
  background-color: #f6f6f6;
  margin-bottom: 5px;
}

.infoTop {
  border-left: 3px #2373d7 solid;
  height:20px;
  width: 100%;
}

.infoTable {
  width: 100%;
  font-size: 12px;
  color: #32323a;
}

.infoTable th {
  border-right: 1px #32323a solid;
}

.infoTable .tableBorderColor {
  border-right: 1px #f6f6f6 solid !important;
}

.arrow-down {
    width:0; 
    height:0; 
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:9px solid #a9a9a9;
    display: inline-block;
}

.realCostInput {
  height: 15px;
  font-size: 6px;
  border-radius: 2px;
  border:1px #a9a9a9 solid;
  text-align: center;
}

.tableButton {
  height: 20px;
  font-size: 6px;
  border-radius: 2px;
  border:1px #32323a solid;
  width: 17%;
  color:#fff;
  background-color: #32323a;
}

.estimationPage {
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
  width: 320px;
  border-top: 2px solid #32323a;
  height: 440px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 0;
  background: #32323a;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.estimationTitlePart {
  margin:10px 0px 30px 30px;
  color:#fff;
  border-bottom: 1px #fff solid;
  width:100%;
}

.estimationTitlePart h2{
  margin-bottom: 5px;
}

.estimationInput {
  width: 80%;
  margin:50px auto;
}


.estimationInputStyle {
  height: 30px;
  width: 100%;
  border:1px #32323a solid;
  border-radius: 1px;
  margin-bottom: 20px;
}

.estimationButtonPart {
  width: 60%;
  margin:0 auto;
}
.estimationButton {
  height: 40px;
  width: 100%;
  border:1px #a9a9a9 solid;
  border-radius: 1px;
  background-color: #32323a;
  color:#fff;
  margin-top: -20px;
}

.estimationTwoPage {
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
  width: 320px;
  border-top: 2px solid #32323a;
  height: 510px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 0;
  background: #fff;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.estimationTwoButton {
  width: 80%;
  margin-left: 10%;
  font-size: 13px;
}

.estimationTwoBlackButton {
  width: 100%;
  height: 40px;
  background-color: #32323a;
  color:#fff;
  margin-top: 10px;
  border:1px #fff solid;
}

.estimationTwoWhiteButton {
  width: 100%;
  height: 40px;
  background-color: #fff;
  color:#32323a;
  margin-top: 10px;
  border:1px #a9a9a9 solid;
}

.estimateCostPart {
  text-align: center;
  color:#32323a;
}

.infoCentrePage {
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
  width: 320px;
  border-top: 2px solid #32323a;
  height: 530px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 0;
  background: #fff;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.infoCentrePage .infoCentreInfoStyle {
  margin-top: 10px;
  border-left: 3px red solid;
  height:32px;
  width: 96%;
  background-color: #f6f6f6;
  margin-left: 2%;
}

.infoCentrePage .infoCentreInfoTable {
  width: 100%;
  font-size: 9px;
  color: #32323a;
  margin:10px auto;
}

.infoCentrePage .infoCentreInfoTable th {
  border-right: 1px #32323a solid;
}

.infoCentrePage .infoCentreInfoTable .tableBorderColor {
  border-right: 1px #f6f6f6 solid !important;
}

.infoCentrePage .infoCentreinfoBottom {
  margin:260px 0 0 31%;
}

.newPage {
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
  width: 320px;
  border-top: 2px solid #32323a;
 /* height: 900px;*/
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 0;
  background: #32323a;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.newTitlePart {
  margin:10px 0px 30px 30px;
  color:#fff;
  border-bottom: 1px #fff solid;
  width:100%;
}

.newTitlePart h2{
  margin-bottom: 5px;
}

.newInput {
  width: 80%;
  margin:50px auto;
}


.newInputStyle {
  height: 30px;
  width: 100%;
  border:1px #32323a solid;
  border-radius: 1px;
  margin-bottom: 20px;
}

.newButtonPart {
  width: 60%;
  margin:0 auto;
}
.newButton {
  height: 40px;
  width: 100%;
  border:1px #a9a9a9 solid;
  border-radius: 1px;
  background-color: #32323a;
  color:#fff;
  margin-top: -30px;
}

.newSelectStyle {
  height: 40px;
  width: 100%;
  color: #a9a9a9;
  margin-bottom: 20px;
  background-color: #fff;
}

body .myCasePage { 
  background: #fff;
}

.myCaseInfoStyle {
  width: 96%;
  height: 50px;
  margin:0 2%;
  background-color: #f6f6f6;
  margin-bottom: 2px;
  text-align: center;
}

.myCaseInfoTable {
  width: 100%;
  font-size: 9px;
  color: #32323a;
  margin: auto;
}

.redBorder {
    border-left: 3px #ff7979 solid;
}

.blueBorder {
    border-left: 3px #52a9fa solid;
}

.greenBorder {
    border-left: 3px #a7da90 solid; 
}

.myCaseInfoBottom {
  margin:20px 0 0 31%;
}

.myCaseInfoTable th {
margin-top: 2%;
  border-right: 1px #32323a solid;
}

.myCaseInfoTable .tableBorderColor {
  border-right: 1px #f6f6f6 solid !important;
}


.settingPage {
  opacity: 1;
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 0;
  background: #fff;
}

.settingResetPasswordPart {
  width:80%;
  margin-left: 10%;
  margin-bottom: 5%;

}

.settingResetPasswordInput {
  font-size: 12px;
  color:#32323a;
  width:80%;
  margin-left: 10%;
}

.settingInputStyle {
  width: 100%;
  height: 8%;
  border:1px #32323a solid;
  margin-bottom: 10px;
  border-radius: 3px;
}

.settingButtonPart {
  width:80%;
  margin-left: 10%;
}

.settingButton {
  width: 30%;
  height: 5%;
  border:1px solid #32323a;
  font-size: 8px !important;
  background-color: #32323a;
  color:#fff;
  border-radius: 3px;
}

.settingTitleStyle {
  font-size: 12px;
  margin-bottom: 0;
}

.goBackButton {
  height: 65%;
    margin-left: 10%;
    margin-top: 2%;
}